* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

   .navbar {
    margin: 0px;
    border: none;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    left: 0;
}
.navbar-default .navbar-brand {
    color: white;
}
span {
    color: black;
}
h2{
    color: red;
    text-align: center;
    font-family: serif;
    font-weight: 200;
}
h3{
    color: red;
    text-align: left;
    font-family: serif;
    font-weight: 200;
}
p {
   font-family: serif;
   font-size: 15px; 
}
.foot{
    background-color: red;
    text-align: center;
    color: white;
    height: 7vh;
    padding: 10px 0px;
}
#sec2 {
    padding-top: 50px;
}
.navbar {
    background-color: red;
    border: none;
    border-radius: 0px;
    color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:red;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    font-family: serif;
}
.navbar-default .navbar-nav > li > a:hover {
    color: white;
    font-family: serif;
}
.ime {
    width: 100%;
}

